.home_container {
  padding-top: 100px;
  overflow-anchor: none;
}

.section {
  display:flex;
  position: relative;
  overflow: hidden;
  margin-left: 10rem;
  /*margin-right: 25%;*/
  padding-top: 10rem;
}

.section,
.section_techstack {
  height: 100vh;
}

.col_text {
  /*max-width: 1112px;*/
  flex-basis: max-content;
  flex-shrink: 1;
}

.col_img {
  flex:1;
}

.home_title {
  /*position: relative;
  z-index: 1;*/
  font-size: 3.25rem;
}


.purple_btn {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  background: #350bde;
  margin-top: 1rem;
  color: #ffff;
  border: none;
  width: 207px;
  height: 50px;
}

.btn_wrapper_hero {
  display: flex;
  flex-direction: row;
}

.social_btn_wrapper_hero {
  display: none;
/*
  display: flex;
  justify-content: center;
  align-items: self-end;*/
}

.social_logos_hero {
  width: 51px;
  height: auto;
  padding-left: 10px;
  padding-right: -4px;
}

.purple_btn:hover {
  cursor: pointer;
  background: #000;
  border: 0.5px solid black;
  border-color: #ffffff;
  transition: 0.5s;
  width: 235px;
}

.section_techstack {
  background: #f3f3f3;
  padding-left: 10rem;
  padding-right: 25%;
  padding-top: 10rem;
}

.social_btn_wrapper {
  margin-left: 2rem;
  margin-right: 10rem;
}

.social_logos {
  width: 37px;
  height: 32px;
  padding-right: 10px;
}

.social_logos:hover {
  cursor: pointer;
}

.tech_stack_heading {
  color: #000000;
}

.tech_stack_title {
  font-family: "Jost";
  color: #000000;
  text-transform: uppercase;
}

.table_row,
.table_data {
  padding-right: 5rem;
  padding-bottom: 2rem;
  color: #000000;
  /*color: #C1BFCA;*/
}

.table_data:hover {
  color: #350bde;
  /*color: #ffffff*/
}

.btn_down_wrapper {
  width: 100%;
  display: flex;
  height: 609px;
  align-items: flex-end;
  justify-content: center;
}

.btn_down {
  color: #c2bfca;
}

.me {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 46%;
  height: auto;
  filter: grayscale(100%) brightness(138%) contrast(122%);
}

.home_title, .p_home, .tech_stack_heading, .tech_stack_title {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* break points */

@media screen and (max-width: 900px) {
  .section,
  .section_techstack {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 0;
    height: auto;
  }

  .home_container {
    padding-top: 100px;
  }

  .col_img {
    display: none;
  }

  .social_btn_wrapper_hero {
    /*text-align: center;
    position: static;
    width: 100%;*/
  }

  .btn_down_wrapper {
    height: 0px;
  }

  .table_data {
    padding-right: 64px;
  }

  .p_home {
    font-size: 1rem;
    margin-top: 0rem;
  }

  .purple_btn {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    background: #350bde;
    border-radius: 13px;
    margin-top: 1rem;
    color: #ffff;
    border: none;
    width: 213px;
    height: 50px;
    margin-bottom: 3rem;
  }

  .home_title {
    font-size: 1.75rem;
  }

  .btn_wrapper_hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }




}

@media screen and (max-width: 900px) {
  .table_data {
    padding-right: 1rem;
  }

}
@media screen and (max-width: 1128px) {
  .col_img {
    display:none;
  }

  .me {
    display: none;
  }
}
