.portfolio_wrapper {
  padding-top: 100px; /* add padding equal to height of header */
  background: #350bde;
}


.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card_ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  gap: 5rem;
  margin-bottom: 7rem;

  
}

.card_li {
  margin-bottom: 1rem;

}


li .card_img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

/* Break Points */

@media screen and (max-width: 900px){
  .card_ul {
    display: flex;
    flex-direction: column;
    gap:0rem;
  }


}
